<div class="admin-action-bar">
  <ul class="action">
    <li id="active-admin-user">
      <%= link_to t(".user_manager"), admin_user_manager_path %>
    </li>
    <li id="active-admin-post">
      <%= link_to t(".post_manager"), admin_post_manager_path %>
    </li>
  </ul>
</div>
