<%= provide :title, t("about") %>
<div class="about">
  <div class="about-text">
    <h3><%= t "about" %></h3>
  </div>
  <div class="about-info">
    <h4><%= t "app_title" %></h4>
    <p><%= t ".about_desc" %></p>
  </div>
</div>
