<%= provide :title, t("contact") %>
<div class="contact">
  <div class="contact-text">
    <h3><%= t "contact" %></h3>
  </div>
  <div class="contact-info">
    <h4><%= t "author_mail" %></h4>
    <p><%= t ".contact_desc" %></p>
  </div>
</div>
