<% provide :title, @tag.name %>
<div class="posts-list">
  <h3><%= t ".tag", name: @tag.name, count: @tag.posts.size %></h3>
  <ul>
    <%= render @posts %>
  </ul>
  <%= paginate @posts, theme: "twitter-bootstrap-3" %>
</div>
