@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'app_style_variable';
@import 'app_style_mixin';
@import 'app_style_placeholder';

// Common
html,
body {
  background: $white;
  font-size: 100%;
}

ul,
label {
  margin: 0;
  padding: 0;
}

// Banner body
.banner-body {
  background: image-url('pattern.jpg') 0 0;
  min-height: 500px;
  padding-top: 5em;
}

// Hvr-bounce
.hvr-bounce-to-bottom {
  backface-visibility: hidden;
  box-shadow: 0 0 1px $black-alpha;
  display: inline-block;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  transform: translateZ(0);
  transition-duration: .5s;
  transition-property: color;
  vertical-align: middle;
}

.hvr-bounce-to-bottom::before {
  background: $sl-blue;
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: scaleY(0);
  transform-origin: 50% 0;
  transition-duration: .5s;
  transition-property: transform;
  transition-timing-function: ease-out;
  z-index: -1;
}

.hvr-bounce-to-bottom:hover,
.hvr-bounce-to-bottom:focus,
.hvr-bounce-to-bottom:active {
  color: $white;
}

.hvr-bounce-to-bottom:hover::before,
.hvr-bounce-to-bottom:focus::before,
.hvr-bounce-to-bottom:active::before {
  transform: scaleY(1);
  transition-timing-function: cubic-bezier(.52, 1.64, .37, .66);
}

// Navbar all
.navbar-collapse {
  padding: 0;
}

.navbar-default {
  @include none-color-1;
  font-size: .6em;

  .navbar-brand {
    .home-link {
      color: $sl-blue;
      font-size: 2.2em;
      font-weight: bold;
      text-decoration: none;
    }
  }

  .navbar-nav {
    @extend %gray-text-link-1;
    @extend %active-link-1;
    @extend %bar-hover-link-1;
  }
}

.navbar-nav {
  margin: 0 0 0 2em;
}

// Footer
.footer {
  background: $gray-darker;
  padding: 2em 0;
  text-align: center;

  a {
    color: $white-darker-1;
  }

  p {
    color: $gray-light1;
    font-size: 14px;
    margin: 0;
  }
}

.search-form {
  margin-right: -5px;
}

.sign-in {
  color: $white;
  float: right;
  margin-top: 7px;

  ul {
    background: $sl-blue;
    margin: 0;
    padding: 5px 15px;

    li {
      @extend %white-text-link-1;
      color: $white;
      display: inline-block;
    }
  }
}

// Main body
.main-body {
  background: $white;
  min-height: 600px;
  padding: 0 3.5em 3.5em;
}

// About
.about-text,
.contact-text {
  h3 {
    color: $sl-blue;
    font-size: 32px;
    margin: 0;
    padding: 2em 0 1em;
    text-align: center;
  }
}

.about-info,
.contact-info {
  text-align: center;

  h4 {
    color: $sl-blue-light;
    font-size: 25px;
    margin: 0;
  }

  p {
    color: $gray-light2;
    font-size: 18px;
    line-height: 1.8em;
    margin: 2em 0;
  }
}

// Sign-up
.sign-up-form {
  padding: 0 10em 7em;

  h3 {
    color: $sl-blue;
    font-size: 32px;
    margin: 0;
    padding: 3em 0 0;
    text-align: center;
  }

  h5 {
    color: $sl-blue-light;
    font-size: 20px;
    margin: 2em 0 1em;
  }

  small {
    color: $gray-light2;
    display: block;
    font-size: 18px;
    line-height: 1.8em;
    margin: .5em 0;
    text-align: center;
  }
}

.sign-up-field {
  li {
    list-style: none;
    margin-bottom: 1.5em;
    overflow: hidden;

    label {
      color: $gray-darker;
      display: inline-block;
      float: left;
      font-size: 20px;
      font-weight: 500;
      margin-top: 5px;
      width: 20%;
    }

    .form-control {
      display: inline-block;
      float: left;
      font-size: 18px;
      height: 40px;
      width: 80%;
    }
  }
}

.register-btn,
.signin-btn,
.create-account-btn {
  background: $sl-blue-light;
  border: 0;
  color: $white;
  font-size: 17px;
  outline: none;
  transition: .5s all;

  &:hover {
    background: $sl-blue;
    color: $white;
  }
}

.register-btn {
  margin: 0 30% .5em;
  padding: 8px 0;
  width: 40%;
}

.signin-btn {
  margin: 0 40% .5em 20%;
  padding: 6px 0;
  width: 40%;
}

.create-account-btn {
  border-radius: unset;
  margin: 1.5em 0 .5em;
  padding: 6px 0;
  width: 40%;
}

.sign-in-remember {
  margin-bottom: 1em;

  label {
    font-size: 15px;
    font-weight: 500;
  }
}

.login-left {
  h3 {
    color: $sl-blue;
    font-size: 30px;
    margin: 0;
    padding: 1em 0 0;
    text-align: center;
  }

  small {
    color: $gray-light2;
    display: block;
    font-size: 16px;
    line-height: 1.2em;
    margin: .5em 0 1.5em;
    text-align: center;
  }
}

.login-right {
  h3 {
    color: $sl-blue;
    font-size: 30px;
    margin: 0;
    padding: 1em 0 0;
  }

  p {
    color: $gray-light1;
    font-size: 16px;
    margin-top: 20px;
  }
}

.sign-in-field {
  li {
    display: grid;
    list-style: none;
    margin-bottom: 1em;
    overflow: hidden;

    label {
      color: $gray-darker;
      float: left;
      font-size: 15px;
      font-weight: 500;
      margin-top: 5px;
    }

    .form-control {
      float: left;
      font-size: 12px;
      height: 30px;
    }
  }
}
