@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'app_style_variable';
@import 'app_style_mixin';
@import 'app_style_placeholder';

// Common
html,
body {
  background: $white;
  font-size: 100%;
}

ul,
label {
  margin: 0;
  padding: 0;
}

// Banner body
.banner-body {
  background: image-url('pattern.jpg') 0 0;
  min-height: 500px;
  padding-top: 2em;
}

// Hvr-bounce
.hvr-bounce-to-bottom {
  backface-visibility: hidden;
  box-shadow: 0 0 1px $black-alpha;
  display: inline-block;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  transform: translateZ(0);
  transition-duration: .5s;
  transition-property: color;
  vertical-align: middle;
}

.hvr-bounce-to-bottom::before {
  background: $sl-blue;
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: scaleY(0);
  transform-origin: 50% 0;
  transition-duration: .5s;
  transition-property: transform;
  transition-timing-function: ease-out;
  z-index: -1;
}

.hvr-bounce-to-bottom:hover,
.hvr-bounce-to-bottom:focus,
.hvr-bounce-to-bottom:active {
  color: $white;
}

.hvr-bounce-to-bottom:hover::before,
.hvr-bounce-to-bottom:focus::before,
.hvr-bounce-to-bottom:active::before {
  transform: scaleY(1);
  transition-timing-function: cubic-bezier(.52, 1.64, .37, .66);
}

// Navbar all
.navbar-collapse {
  padding: 0;
}

.navbar-default {
  @include none-color-1;
  font-size: .6em;

  .navbar-brand {
    .home-link {
      color: $sl-blue;
      font-size: 2.2em;
      font-weight: bold;
      text-decoration: none;
    }
  }

  .navbar-nav {
    @extend %gray-text-link-1;
    @extend %active-link-1;
    @extend %bar-hover-link-1;
  }
}

.navbar-nav {
  margin: 0 0 0 2em;
}

// Footer
.footer {
  background: $gray-darker;
  padding: 2em 0;
  text-align: center;

  a {
    color: $white-darker-1;
  }

  p {
    color: $gray-light1;
    font-size: 14px;
    margin: 0;
  }
}

.pencil {
  float: right;
  font-size: 30px;
  margin: 7px 5px 0 0;

  .glyphicon-pencil {
    color: $sl-blue;
  }
}

.space {
  font-size: 18px;
  font-weight: bold;
}

.info-sign {
  float: right;
  font-size: 30px;
  margin: 7px 5px 0 0;

  .glyphicon-info-sign {
    border-radius: 50%;
    color: $sl-blue;
    margin-right: 20px;
  }

  ul {
    background: $sl-blue;
    margin: -18px 0 0;
    padding: 5px 15px;

    li {
      @extend %white-text-link-1;
      color: $white;
      display: inline-block;
    }
  }
}

.search {
  margin-top: -53px;
}

.search-form {
  margin-right: -5px;

  .form-control {
    width: 250px;
  }
}

.sign-in {
  color: $white;
  float: right;
  margin-top: 7px;

  ul {
    background: $sl-blue;
    margin: 0 0 0 -20px;
    padding: 5px 15px;

    li {
      @extend %white-text-link-1;
      color: $white;
      display: inline-block;
    }
  }
}

// Main body
.main-body {
  background: $white;
  min-height: 600px;
  padding: 1.5em 3.5em 3.5em;
}

// About
.about-text,
.contact-text {
  h3 {
    color: $sl-blue;
    font-size: 32px;
    margin: 0;
    padding: 2em 0 1em;
    text-align: center;
  }
}

.about-info,
.contact-info {
  text-align: center;

  h4 {
    color: $sl-blue-light;
    font-size: 25px;
    margin: 0;
  }

  p {
    color: $gray-light2;
    font-size: 18px;
    line-height: 1.8em;
    margin: 2em 0;
  }
}

// Sign-up
.sign-up-form {
  padding: 0 10em 7em;

  h3 {
    color: $sl-blue;
    font-size: 32px;
    margin: 0;
    padding: 3em 0 0;
    text-align: center;
  }

  h5 {
    color: $sl-blue-light;
    font-size: 20px;
    margin: 2em 0 1em;
  }

  small {
    color: $gray-light2;
    display: block;
    font-size: 18px;
    line-height: 1.8em;
    margin: .5em 0;
    text-align: center;
  }
}

.sign-up-field {
  li {
    list-style: none;
    margin-bottom: 1.5em;
    overflow: hidden;

    label {
      color: $gray-darker;
      display: inline-block;
      float: left;
      font-size: 20px;
      font-weight: 500;
      margin-top: 5px;
      width: 20%;
    }

    .form-control {
      display: inline-block;
      float: left;
      font-size: 18px;
      height: 40px;
      width: 80%;
    }
  }
}

.register-btn,
.update-btn,
.signin-btn,
.create-account-btn {
  background: $sl-blue-light;
  border: 0;
  color: $white;
  font-size: 17px;
  outline: none;
  transition: .5s all;

  &:hover {
    background: $sl-blue;
    color: $white;
  }
}

.register-btn,
.update-btn {
  margin: 0 30% .5em;
  padding: 8px 0;
  width: 40%;
}

.signin-btn {
  margin: 0 40% .5em 20%;
  padding: 6px 0;
  width: 40%;
}

.create-account-btn {
  border-radius: unset;
  margin: 1.5em 0 .5em;
  padding: 6px 0;
  width: 40%;
}

.sign-in-remember {
  margin-bottom: 1em;

  label {
    font-size: 15px;
    font-weight: 500;
  }
}

.login-left {
  h3 {
    color: $sl-blue;
    font-size: 30px;
    margin: 0;
    padding: 1em 0 0;
    text-align: center;
  }

  small {
    color: $gray-light2;
    display: block;
    font-size: 16px;
    line-height: 1.2em;
    margin: .5em 0 1.5em;
    text-align: center;
  }
}

.login-right {
  h3 {
    color: $sl-blue;
    font-size: 30px;
    margin: 0;
    padding: 1em 0 0;
  }

  p {
    color: $gray-light1;
    font-size: 16px;
    margin-top: 20px;
  }
}

.sign-in-field {
  li {
    display: grid;
    list-style: none;
    margin-bottom: 1em;
    overflow: hidden;

    label {
      color: $gray-darker;
      float: left;
      font-size: 15px;
      font-weight: 500;
      margin-top: 5px;
    }

    .form-control {
      float: left;
      font-size: 15px;
      height: 30px;
    }
  }
}

.update-form {
  padding: 0 10em 7em;

  h3 {
    color: $sl-blue;
    font-size: 30px;
    margin: 0;
    padding: 1em 0 0;
    text-align: center;
  }

  h5 {
    color: $sl-blue-light;
    font-size: 20px;
    margin: 2em 0 1em;
  }
}

.update-field {
  li {
    display: grid;
    list-style: none;
    margin-bottom: 1em;
    overflow: hidden;

    label {
      color: $gray-darker;
      float: left;
      font-size: 16px;
      font-weight: 600;
      margin-top: 5px;
    }

    small {
      font-size: 14px;
      font-weight: 200;
    }

    textarea {
      height: 120px;
      resize: none;
      scroll-behavior: auto;
    }

    .avatar-field {
      height: 0;
      visibility: hidden;
    }

    .avatar-img {
      position: absolute;
    }

    .get-file {
      @extend %hover-avatar-change-1;
      background: $sl-blue;
      border-radius: unset;
      color: $white;
      margin: 120px 0 0 180px;
      width: 140px;
    }

    .form-control {
      float: left;
      font-size: 16px;
    }
  }
}

.avatar-img {
  height: 160px;
  width: 160px;
}

.avatar-img-small {
  height: 50px;
  width: 50px;
}

.profile {
  clear: both;
  padding-top: 30px;

  .edit-btn {
    background: $sl-blue;
    color: $white;
    float: right;
    font-size: 20px;
    margin-top: 20px;
    padding: 5px 20px;
    text-decoration: none;

    &:hover {
      background: $sl-blue-light;
      color: $black;
    }
  }

  h3 {
    color: $sl-blue;
    font-size: 32px;
    font-weight: 400;
  }

  .sidebar {
    padding: 10px;
    position: absolute;

    .user-stats {
      background: $gray-light3;
      font-size: 15px;
      min-height: 240px;
      padding: 15px 5px;
      width: 160px;
    }
  }

  .content {
    margin-left: 200px;
    max-width: 400px;

    h3 {
      color: $black;
      font-size: 22px;
    }

    .vertical-divider {
      border-top: 2px solid $gray-light1;
      height: 1px;
      margin: 20px 0;
      width: 800px;
    }
  }
}

.user-info-desc {
  list-style: none;

  li {
    margin-bottom: 20px;

    p {
      font-size: 16px;
      margin: 10px 0;
      width: 800px;
      word-wrap: break-word;
    }

    .info-field {
      background: $sl-blue;
      color: $white;
      cursor: inherit;
      padding: 5px;
      width: 120px;
    }

    .info-value {
      color: $black;
    }
  }
}

.dropdown-menu {
  border-radius: unset;
  float: right;
  min-width: 120px;
  top: 125%;
}

.show-users {
  overflow: hidden;

  li {
    list-style: none;
    margin-bottom: 10px;

    .user-name-info {
      color: $sl-blue-light;
      font-size: 18px;
      margin: 10px 0 0 20px;
    }
  }

  h3 {
    color: $sl-blue;
    font-size: 32px;
    margin: 20px 0;
    text-align: center;
  }
}

.error-explanation {
  color: $red;

  h4 {
    font-size: 24px;
  }

  ul {
    li {
      list-style: '► ';
      margin: 10px 0 0 20px;
    }
  }
}

.alert {
  border: 1px solid $gray-light3;
  border-radius: 4px;
  margin-bottom: 0;
  padding: 8px 0;
  text-align: center;
}

.alert-error,
.alert-alert {
  background-color: $red-light1;
  color: $red-dark1;
}

.alert-success,
.alert-notice {
  background-color: $green-light1;
  color: $green-dark1;
}


.new-post-form,
.edit-post-form {
  padding-top: 30px;

  h3 {
    color: $sl-blue;
    font-size: 20px;
    text-align: center;
    word-wrap: break-word;
  }

  label {
    font-size: 20px;
    font-weight: 600;
  }

  .form-control {
    font-size: 16px;
    margin-bottom: 20px;
  }

  textarea {
    height: 120px;
    resize: none;
    scroll-behavior: auto;
  }

  .get-file {
    background: $sl-blue;
    border-radius: unset;
    color: $white;
    font-size: 15px;

    &:hover {
      background: $sl-blue-light;
      color: $black;
    }
  }

  .picture-field {
    height: 0;
    visibility: hidden;
  }

  .post-picture {
    margin: 10px 0;
    max-height: 240px;
    max-width: 320px;
  }
}

.post-content {
  h3 {
    color: $sl-blue;
    font-size: 36px;
    font-weight: 560;
    padding: 40px 0 20px;
    text-align: center;
    word-wrap: break-word;
  }

  img {
    height: auto;
    width: 100%;
  }

  p {
    color: $gray;
    font-size: 18px;
    line-height: 1.8em;
    margin: 1em 0;
    word-wrap: break-word;
  }
}

.post-link {
  display: flex;
  padding: 3px 0;

  li {
    list-style: none;
    margin-right: 25px;
  }
}

.glyphicon-calendar,
.glyphicon-user,
.glyphicon-comment,
.glyphicon-eye-open {
  color: $sl-blue-light;
  font-size: 18px;
}

.glyphicon-comment,
.glyphicon-eye-open {
  margin-top: 2px;
}

.badge {
  background: $gray;
  font-size: 10px;
  margin: -10px 0 0 5px;
}

.sidebar-post {
  border-left: 2px solid $black;
  margin: 10px 0;
  padding: 20px 0 0 20px;
}

.post-author {
  border-bottom: 2px solid $black;
  padding: 10px;

  .author-avatar {
    height: 80px;
    width: 80px;
  }

  .user-link {
    font-size: 20px;
    margin-left: 10px;
  }
}

.post-share {
  border-bottom: 2px solid $black;
  padding: 10px;

  img {
    border-radius: 50%;
    height: 20%;
    margin-right: 12%;
    width: 20%;
  }
}

.tag-list {
  display: flex;

  li {
    list-style: none;
    margin-right: 5px;
  }

  .badge {
    background: $sl-blue;
    font-size: 15px;
  }
}

.tag-type {
  cursor: text;
  display: flex;
  flex-wrap: wrap;
  min-height: 36px;
  padding: 0;

  .badge {
    background: $sl-blue;
    cursor: default;
    font-size: 15px;
    margin: 5px;
  }
}

.welcome {
  text-align: center;
  width: 100%;

  h2 {
    color: $sl-blue;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  h4 {
    color: $gray-light1;
    font-size: 20px;
    margin-bottom: 40px;
  }
}

.post-bar {
  background: $sl-blue-light;
  border-radius: 4px;
  font-size: 20px;
  font-weight: bold;
  height: 70px;
  padding: 20px;

  span {
    a {
      color: $white;
      margin-right: 20px;
      text-decoration: none;
    }

    a:hover {
      border-bottom: 3px solid;
      color: $black;
      transition: .5s all;
    }
  }
}

.posts-list,
.users-list {
  padding: 15px;
}

.posts-list {
  li {
    list-style: none;
  }

  h3 {
    color: $sl-blue;
    font-size: 36px;
    margin-bottom: 30px;
    text-align: center;
  }
}

.users-list {
  border-left: 1px solid $gray-light3;

  li {
    border: 1px solid $gray-light1;
    border-radius: 4px;
    list-style: none;
    margin-bottom: 10px;
    padding: 5px;
  }
}

.post-attribute {
  border-bottom: 1px solid $gray-light3;
  margin: -50px 0 40px 60px;
  overflow: hidden;

  .post-title,
  .post-content,
  .tag-list,
  .post-link,
  .read-more-btn {
    margin-bottom: 10px;
  }

  .read-more-btn {
    background: $sl-blue;
    border-radius: unset;
    color: $white;
    float: right;
    font-weight: 700;
    padding: 6px 25px;
    transition: .5s all;

    &:hover {
      background: $sl-blue-light;
      color: $black;
    }
  }

  p,
  a {
    word-wrap: break-word;
  }
}

.user-attribute {
  margin: -50px 0 40px 60px;

  p {
    font-size: 15px;
  }
}

.avatar-img,
.avatar-img-small,
.author-avatar {
  border-radius: 50%;
}

.post-comments {
  h3 {
    color: $sl-blue;
  }

  li {
    list-style: none;
  }

  .comment-attribute {
    margin: -50px 0 40px 60px;
  }

  .btn-comment {
    background: $sl-blue;
    border-radius: unset;
    color: $white;
    float: right;
    font-size: 16px;
    padding: 4px 20px;

    &:hover {
      background: $sl-blue-light;
      color: $black;
      transition: .5s all;
    }
  }

  textarea {
    font-size: 20px;
    height: 120px;
    margin-bottom: 10px;
    resize: none;
    scroll-behavior: auto;
  }
}

.comment-list {
  margin-bottom: 20px;
  max-height: 300px;
  overflow-y: scroll;
  scroll-behavior: auto;
  word-wrap: break-word;
}

.edit-comment-input {
  width: 90%;
}

.submit-update {
  margin-right: 5px;
}

.follow,
.unfollow {
  border: 2px solid $sl-blue;
  font-size: 16px;
  margin: 10px 0;
  padding: 4px 20px;
  transition: .5s all;
}

.follow {
  background: $sl-blue;
  color: $white;

  &:hover {
    background: $white;
    color: $black;
  }
}

.unfollow {
  background: $white;
  color: $black;

  &:hover {
    background: $sl-blue;
    color: $white;
  }
}

.category-active {
  border-bottom: 3px solid $white;
}

.follow-in-profile {
  float: right;
}

.tags-list {
  h3 {
    color: $sl-blue;
    font-size: 36px;
    margin-bottom: 40px;
    text-align: center;
  }

  li {
    float: left;
    list-style: none;
    margin-bottom: 20px;
    width: 20%;

    .badge {
      background: $sl-blue-light;
      font-size: 17px;
    }
  }
}

.action-link {
  float: right;
  margin-top: -20px;

  a {
    margin-right: 10px;
  }
}

.update-button-group {
  display: flex;
  margin: 20px 0 0 30%;
  width: 40%;

  li {
    list-style: none;
    margin-right: 20px;
  }

  .save-btn,
  .cancel-btn {
    font-size: 17px;
    font-weight: 500;
    width: 200px;
  }
}
