// Basic color
$black: #000;
$gray: #777;
$green-dark1: #468847;
$green-light1: #dff0d8;
$red: #f00;
$red-dark1: #b94a48;
$red-light1: #f2dede;
$white: #fff;

// Advance color
$black-alpha: rgba(0, 0, 0, 0);
$gray-darker: #282828;
$gray-light1: #817f7f;
$gray-light2: #999;
$gray-light3: #c5c5c5;
$sl-blue: #3b5998;
$sl-blue-light: #5b78b3;
$white-darker-1: #b8b8b8;
